<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ljm7b.fitness_tracker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fitness Tracker"
        android:theme="@style/AppTheme"
        >



        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

        </activity>
        <!-- All Product Activity -->
        <activity
            android:name=".LogBrainWorkoutActivity"
            android:label="All Workouts" >
        </activity>

        <activity
            android:name=".LogBodyWorkoutActivity"
            android:label="All Workouts" >
        </activity>
        <!-- Add Product Activity -->
        <activity
            android:name=".NewWorkoutActivity"
            android:label="Add New Workout" >
        </activity>

        <activity android:name="RegistrationActivity"
            android:label="Register User">
        </activity>

        <activity android:name=".LoginRegisterActivity"
            android:label="Login or Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:label="Login User">
        </activity>

        <activity android:name=".VideoMainActivity"
            android:stateNotNeeded="true"
            android:label="Videos">
        </activity>
        <activity
            android:name=".YouTubeFragmentActivity"
            android:stateNotNeeded="true"/>
        <activity
            android:name=".YouTubeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"/>

        <activity android:name=".AllWorkoutsActivity"/>

        <activity android:name=".CombinedChartActivity"/>

        <activity android:name=".SetGoalsActivity"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8fc0a41982c46d56bea1e25b534fdeb594fc3d82" />


    </application>


    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
